/*Custom stylesheet*/

html, body{
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Lato', sans-serif;
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;  /* hack temp.. should be 100% w/ margin or padding to offset footer - originally 80%*/
    /* scrolling */
    /*  overflow-y: scroll; /* has to be scroll */
    /*  -webkit-overflow-scrolling: touch;*/
}

.home {
    color: white;
    background: #F2CF66;
}

.hidden {
    display: none;
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pageContainer{
    height: 100%;
    display: block;
}

.scrollContent{
   /* height: 6500px;*/
}

.hideOpacity{
    opacity: 0;    
}

/*----------------------------------------------*/
/*----------------HOME PAGE VIEW----------------*/
/*----------------------------------------------*/

#header-shape, #header-shape .logo, #header-shape .content{
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}

#home-page{
    background-color: #f2f2f2;
    overflow: hidden;
}
#panelHide{
    position:absolute;
    height: 60px;
    width: 100%;
    z-index: 1100;
}
#header-shape {
    border-top: 60px solid #fff;
    position: fixed;
    z-index: 1000;
}
#header-shape .content li{
    position:relative;
    cursor: pointer;
}
#header-shape .content a{
    text-decoration: none;
    color: #492c66;
}
/*UNDERLINE MENU NAVIGATION START*/
.header-shadow{
    box-shadow: 0px 30px 10px #f2f2f2;
    height: 23px;
    position: fixed;
    width: 100%;
    z-index: 900;
    transform: rotate(-1deg);
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}

#header-shape .content .under:after{
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 1px;
    opacity: 0.6;
    background-color: #492c66;
    content: "";
    transition: width 0.4s;
}
#header-shape .content .under:hover {
    color: #492c66;
}
#header-shape .content .under:hover:after{
    width: 50%;
}
/*UNDERLINE MENU NAVIGATION END*/

#home-page .logo,
#gallery-page .logo{
    border: 0;
    position: fixed;
    padding-top: 19px;
    top: 0;
    padding-left: 20px;
    opacity: 0.6;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
#home-page .logo:hover,
#gallery-page .logo:hover,
.header-shadow:hover{
    opacity: 1;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}

#home-page .content,
#gallery-page .content{
    top: 0;
    position: fixed;
    list-style: none;
    color: #7a648f;
    font-size: 12px;
    font-weight: 400;
    padding-top: 3px;
    right: 20px;
}
#home-page .content li,
#gallery-page .content li{
    display: inline-block;
    margin-right: 30px;
}
#home-page .content li:last-child,
#gallery-page .content li:last-child{
    font-weight: 700;
}
#dotNavigation{
    top: 20%;
    position: fixed;
    z-index: 10;
    right: 0;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}

.experience{
    bottom: -5px;
    position: absolute;
    width: 100%;
    text-align: center;
    margin: auto; 
    height: 120px;
}

.experience .actual{
    margin-bottom: 5px;
    color: #959595;
    font-size: 14px;
}
.experience .launch{
    color: #492c66;
    font-size: 18px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 9px;
}
.experience .picto{
    cursor: pointer;
}

#sound{
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}

/*----------------------------------------------*/
/*---------------------VIDEO--------------------*/
/*----------------------------------------------*/


video#vid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}


/*----------------------------------------------*/
/*--------------------GALLERY-------------------*/
/*----------------------------------------------*/

.grid{
    margin-left: 10px;
}

/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
    width: 20%;
}
.grid-item--width2 { width: 40%; }
.grid-item--height2 { height: 40%; }
.grid-item {
    float: left;
}
.grid-item{
    margin-top: 10px;
}
.grid-item img {
    display: block;
    max-width: 95%;
}
.text-gallery{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-style: italic;
    margin-left: -10px;
}

.text-gallery:before {
    display: block;
    width: 77px;
    height: 1px;
    opacity: 0.8;
    background-color: black;
    content: "";
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
}
.text-gallery:after {
    display: block;
    width: 77px;
    height: 1px;
    opacity: 0.8;
    background-color: black;
    content: "";
    margin: auto;
    text-align: center;
    margin-top: 12px;
}
.static-filter{
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

/*DISPLAY SOUND PICTO FOR THE SOUNDS*/
.sound:hover .toPlay{
    opacity: 1;
}
.toPlay{
    background: rgba(58,40,77,0.5) url("../img/picto_play.png") no-repeat center center;
    z-index: 5;
    width: 95%;
    height: 100%;
    opacity: 0;
    position: absolute;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}


/*----------------------------------------------*/
/*------------------GOOGLE MAP------------------*/
/*----------------------------------------------*/

#infoWindow{
    color: #000;
}
#googleMap .gm-style-iw > div > div{
    overflow:hidden!important;
}


/*----------------------------------------------*/
/*------------------PANEL MENU------------------*/
/*----------------------------------------------*/


.left-menu{
    width: 77px;
    height: 77px;
    float: left;
    margin-top: 103px;
    cursor: pointer;
    background: rgba(58,40,77,0.9);
    color: #fff;
    text-align: center;
    vertical-align: middle;
}
.left-menu .filter{
    vertical-align: middle;
    padding-top: 15px;
}
.left-menu p{
    margin-top: 7px;
}
.left-menu:hover{
    background: rgba(58,40,77,1);
}

#panel-menu .title{
    border-bottom: 1px solid #fff;
    width: 209px;
    padding-bottom: 7px;
    opacity: 0.8;
    font-size: 14px;
}
#panel-menu p{
    margin-bottom: 7px;
}
.bold{
    font-weight: 700;
}
#panel-menu .close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
select.custom_dropdown {
    background-color: transparent;
    width: 200px;
}
.pageContent{
    position: relative;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

nav.slide-menu-left {
    position: fixed;
    z-index: 20;
    background:rgba(58,40,77,0.98);
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.left-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
nav.slide-menu-left ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 12px;
    opacity: 0.8;
}
nav.slide-menu-left {
    font-weight: 300;
    color: #fff;
}

nav.slide-menu-left {
    top: 104px;
    min-width: 258px;
    min-height: 440px;
    position: absolute;
    opacity: 0;
}
nav.slide-menu-left .city{
    padding-bottom: 22px;
}
nav.slide-menu-left li {
    display: block;
    text-align: left;
    margin-left: 24px;
    margin-bottom: 4px;
    cursor: pointer;
    padding-left: 14px;
    width: 169px;
}
nav.slide-menu-left li:first-child {
    border-top: none;
}
nav.slide-menu-left li:last-child {
    border-bottom: none;
    margin-bottom: 0;
}
nav.slide-menu-left a {
    text-decoration: none;
    color: #FFF;
}
nav.slide-menu-left {
    left: -84%;
    padding-left: 31px;
    padding-top: 45px;
}
.pageContent.sml-open nav.slide-menu-left {
    left: 0; /*push the page to the right - 0px to do nothing*/
    opacity: 1;
}

nav.slide-menu-left li.select{
    background-color: rgba(255,255,255, 0.2);
    padding-left: 15px;
}

.left-menu.hide{
    margin-left: -120px;
}


/*----------------------------------------------*/
/*--------------------VIDEO---------------------*/
/*----------------------------------------------*/

#set-height {
    display: block;
    height: 13500px;
}
#v0 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

/*----------------------------------------------*/
/*-------------DOTSTYLE NAVIGATION--------------*/
/*----------------------------------------------*/



.dotstyle ul {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dotstyle li {
    position: relative;
    display: block;
    margin: 0 16px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-top: 15px;
}

.dotstyle li a {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 50%;
    background-color: #fff;
    background-color:  rgba(58,40,77,0.3);
    text-indent: -999em; /* make the text accessible to screen readers */
    cursor: pointer;
    position: absolute;
}

.dotstyle li a:focus {
    outline: none;
}

.dotstyle-circlegrow li a {
    overflow: hidden;
    background-color: transparent;
    box-shadow: inset 0 0 0 1px #492c66;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.dotstyle-circlegrow li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    border-radius: 50%;
    background-color: #492c66;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
}

.dotstyle-circlegrow li a:hover,
.dotstyle-circlegrow li a:focus {
    opacity: 0.7;
}

.dotstyle-circlegrow li.current a::after {
    -webkit-transform: scale(1);
    transform: scale(1);
}


/*----------------------------------------------*/
/*---------------CUSTOM DROPDOWN----------------*/
/*----------------------------------------------*/

@supports (pointer-events: none) and
      ((-webkit-appearance: none) or
      (-moz-appearance: none) or
      (appearance: none)) {

    .custom-dropdown {
        position: relative;
        display: inline-block;
        vertical-align: middle;
    }

    .custom-dropdown__select {
        padding-right: 5.5em; /* accommodate with the pseudo elements for the dropdown arrow */
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    .custom-dropdown--color{
        background: rgba(58,40,77,0.9);
    }
    .custom-dropdown__select--color{
        background: rgba(58,40,77,0.9);
    }
    .custom-dropdown::before,
    .custom-dropdown::after {
        content: "";
        position: absolute;
        pointer-events: none;
    }

    .custom-dropdown::after {
        /*  Custom dropdown arrow */
        content: "\25BC";
        height: 1em;
        font-size: .625em;
        line-height: 1;
        right: 1.2em;
        top: 50%;
        margin-top: -.5em;
    }

    .custom-dropdown::before {
        /*  Custom dropdown arrow cover */
        width: 2em;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 0 3px 3px 0;
    }

    .custom-dropdown__select[disabled] {
        color: rgba(0, 0, 0, .3);
    }

    .custom-dropdown.custom-dropdown--disabled::after {
        color: rgba(0, 0, 0, .1);
    }

    /* White dropdown style */
    .custom-dropdown--white::before {
        top: .5em;
        bottom: .5em;
        background-color: transparent;
        border-left: 1px solid rgba(0, 0, 0, .1);
    }

    .custom-dropdown--white::after {
        color: rgba(0, 0, 0, .9);

    }

    /* FF only temp fix */
    @-moz-document url-prefix() {
        .custom-dropdown__select {
            padding-right: .9em
        }
        .custom-dropdown--large .custom-dropdown__select {
            padding-right: 1.3em
        }
        .custom-dropdown--small .custom-dropdown__select {
            padding-right: .5em
        }
    }
}



/*----------------------------------------------*/
/*-----ALL ANIMATIONS FOR PAGE TRANSITIONS------*/
/*----------------------------------------------*/
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

@-webkit-keyframes iosFadeLeft {
    0%  {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
        opacity: 0.9;
    }
}

@keyframes iosFadeLeft {
    0%  {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
        opacity: 0.8;
    }
}

.iosFadeLeft {
    -webkit-animation-name: iosFadeLeft;
    animation-name: iosFadeLeft;
    -webkit-animation-timing-function: cubic-bezier(.1, .7, .1, 1);
    animation-timing-function: cubic-bezier(.1, .7, .1, 1);
    -webkit-animation-duration: 400ms;
    animation-duration: 400ms;
}


@-webkit-keyframes iosSlideInRight {
    0% {
        opacity: 0.7;
        -webkit-transform: translateX(2000px);
        -ms-transform: translateX(2000px);
        transform: translateX(2000px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes iosSlideInRight {
    0% {
        opacity: 0.7;
        -webkit-transform: translateX(2000px);
        -ms-transform: translateX(2000px);
        transform: translateX(2000px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

.iosSlideInRight {
    -webkit-animation-name: iosSlideInRight;
    animation-name: iosSlideInRight;
    -webkit-animation-timing-function: cubic-bezier(.1, .7, .1, 1);
    animation-timing-function: cubic-bezier(.1, .7, .1, 1);
    -webkit-animation-duration: 400ms;
    animation-duration: 400ms;
}

@-webkit-keyframes slideOutRight {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateX(2000px);
        transform: translateX(2000px);
    }
}

@keyframes slideOutRight {
    0% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateX(2000px);
        -ms-transform: translateX(2000px);
        transform: translateX(2000px);
    }
}

.slideOutRight {
    -webkit-animation-name: slideOutRight;
    animation-name: slideOutRight;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}