/*Custom stylesheet*/

html, body{
    height: 100%;
    width: 100%;
}

body {
    position: fixed;
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;  /* hack temp.. should be 100% w/ margin or padding to offset footer - originally 80%*/
    /* scrolling */
    /*  overflow-y: scroll; /* has to be scroll */
    /*  -webkit-overflow-scrolling: touch;*/
}

.home {
    color: white;
    background: #F2CF66;
}

.hidden {
    display: none;
}




/*----------------------------------------------*/
/*--------------MISSION PAGE VIEW---------------*/
/*----------------------------------------------*/

#mission-page {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    height: 100%;
    /*position: relative;*/
    background: url("../img/backgrounds/bg_img_dog_blurr.jpg") no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}

#mission-page h1, #mission-explication h1 {
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #FFF;
    display: inline-block;
    margin-left: -38px;
}

#main {
    position: relative;
    overflow: auto;
    height: 415px;
}

#mission-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

#mission-list li {
    position: relative;
    height: 74px;
    line-height: 74px;
    font-size: 12px;
    margin-bottom: 2px;
    background-color: #ababab;
    background:rgba(255,255,255,0.6);
    box-sizing: border-box;
}

#mission-list li:last-child {
    border-bottom: none;
}

#mission-list li #date {
    padding-bottom: 0;
}
#mission-list li #title {
    padding-top: 5px;
}

#mission-list li label {
    display: block;
    margin-left: 15px;
    line-height: 1.2;
}


.navigation {
    color: #FFF;
    text-align: center;
    background-color: #4d3267;
    opacity: 0.9;
    height: 46px;
    line-height: 45px;
    font-size: 11px;
}


.filters {
    margin: 0;
    padding: 0;
    list-style: none;
    right: 0;
    left: 0;
}

.filters li {
    display: inline-block;
    border-right: 1px solid #654e7c;
    opacity: 0.8;
    width: 32%;
}

.filters li a {
    color: #FFF;
    text-decoration: none;
}


.filters li a.selected {
    border-bottom: 1px solid #FFF;
    padding-bottom: 4px;
}

.filters li:last-child {
    border-right: none;
}

#mission-page header{
    height: 42px;
    width: 100%;
    background-color: #cd522a;
    opacity: 0.9;
    display: inline-block;
    text-align: center;
}

#left-menu{
    width: 36px;
    height: 33px;
    display: inline-block;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    cursor: pointer;
}
#ove-logo{
    background-color: #0000FF;
    display: inline-block;
}

#mission-date{
    color: #000;
    font-size: 12px;
    padding-bottom: 2px;
}

#mission-title{
    color: #492c66;
    font-weight: 700;
    font-size: 18px;
}

#sort{
    height: 38px;
    line-height: 38px;
    background-color: #878787;
    background:rgba(255,255,255,0.3);
    text-align: right;
}
#sort span{
    font-weight: 300;
    font-size: 14px;
}
#sort select{
    background: none;
    border: 0;
    outline:none;
}
#sort #list{
    color: #492c66;
    font-weight: 700;
    font-size: 14px;
    padding-right: 7px;
    margin-right: 3px;
    padding-left: 9px;
}

#mission-list .view,{
    max-width: 170px;
}
#mission-list .view, #mission-list #mission-icons{
    display: inline-block;
    vertical-align: middle;
}
#mission-list #mission-icons{
    position: absolute;
    right: 0;
    margin-right: 70px;
}
#mission-list #mission-icons img{
    padding-left: 5px;
    vertical-align: middle;
    width: 20px;
}

#mission-share{
    width: 57px;
    height: 100%;
    float: right;
    text-align: center;
}
#mission-share img{
    width: 30px;
    text-align: center;
    vertical-align: middle;
}

/*Three genre of mission - light and dark*/
.game-light{  
    border-right: 6px solid #c9603e;
}
.fun-light{
    border-right: 6px solid #983554;
}
.sensibility-light{
    border-right: 6px solid #2f5b7f;
}
.game-dark{
    background-color: #b98e80;
}
.fun-dark{
    background-color: #a8808d;
}
.sensibility-dark{
    background-color: #768a9b;
}



/*----------------------------------------------*/
/*-----------MISSION PROPOSITION VIEW-----------*/
/*----------------------------------------------*/

#mission-proposition{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    height: 100%;
    background: url("../img/backgrounds/bg_img_dog_blurr.jpg") no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    color: #FFF;
}

#mission-proposition header{
    margin-top: 30px;
    height: 124px;
    width: 100%;
    background:rgba(184,77,43,0.9); /*#b84d2b*/
    opacity: 0.9;
    text-align: center;
}

#mission-proposition h2{
    font-weight: 300;
    font-size: 19px;
    margin: 0;
    padding-top: 22px;
}
#mission-proposition h1{
    font-size: 41px;
    margin: 0;
    padding-top: 5px;
}

#mission-proposition footer, #mission-explication footer{
    width: 100%;
    position: absolute;
    bottom: 0;
}
.button{
    width: 48%;
    height: 70px;
    background:rgba(70,43,96,0.9); /*#462b60*/
    display: inline-block;
    text-align: center;
    font-size: 25px;
    line-height: 70px;
    vertical-align: middle;
    cursor: pointer;
    color: #FFF;
}
#mission-proposition .accept{
    float: right;
}
#mission-explication footer{
    text-align: center;
}


.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/*----------------------------------------------*/
/*-----------MISSION EXPLICATION VIEW-----------*/
/*----------------------------------------------*/

#mission-explication{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    height: 100%;
    background: url("../img/backgrounds/bg_img_dog_blurr.jpg") no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    color: #FFF;
}

#mission-explication header{
    height: 42px;
    width: 100%;
    background:rgba(184,77,43,0.9); /*#b84d2b*/
    opacity: 0.9;
    text-align: center;
}

#mission-explication h1 {
    margin-left: 0;
}

#googleMap{
    width: 100%;
    height: 86%;
}

.begin{
    min-width: 185px;
}


/*----------------------------------------------*/
/*------------------GOOGLE MAP------------------*/
/*----------------------------------------------*/

#infoWindow{
    color: #000;
}
#googleMap .gm-style-iw > div > div{
    overflow:hidden!important;
}


/*----------------------------------------------*/
/*------------------PANEL MENU------------------*/
/*----------------------------------------------*/

nav.slide-menu-left {
    position: fixed;
    z-index: 20;
    background-color: #462b60;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
nav.slide-menu-left ul {
    list-style-type: none;
    padding: 0;
}
nav.slide-menu-left {
    font-weight: 300;
    color: #fff;
}

nav.slide-menu-left {
    top: 42px; /*put this dynamically ?*/
    width: 90%;
    height: 100%;
}
nav.slide-menu-left li {
    display: block;
    text-align: left;
    margin-left: 50px;
    margin-bottom: 20px;
    cursor: pointer;
}
nav.slide-menu-left li:first-child {
    border-top: none;
}
nav.slide-menu-left li:last-child {
    border-bottom: none;
    margin-bottom: 0;
}
nav.slide-menu-left a {
    text-decoration: none;
    color: #FFF;
}
nav.slide-menu-left {
    left: -90%;
}
.page-body.sml-open nav.slide-menu-left {
    left: 0;
}

.hamburger{
    background: url("../img/menu/hamburger-menu.png");
    background-size: cover;
}
.close{
    background: url("../img/menu/close-menu.png");
    background-size: cover;
}

/*----------------------------------------------*/
/*-----ALL ANIMATIONS FOR PAGE TRANSITIONS------*/
/*----------------------------------------------*/
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

@-webkit-keyframes iosFadeLeft {
    0%  {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
        opacity: 0.9;
    }
}

@keyframes iosFadeLeft {
    0%  {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
        opacity: 0.8;
    }
}

.iosFadeLeft {
    -webkit-animation-name: iosFadeLeft;
    animation-name: iosFadeLeft;
    -webkit-animation-timing-function: cubic-bezier(.1, .7, .1, 1);
    animation-timing-function: cubic-bezier(.1, .7, .1, 1);
    -webkit-animation-duration: 400ms;
    animation-duration: 400ms;
}


@-webkit-keyframes iosSlideInRight {
    0% {
        opacity: 0.7;
        -webkit-transform: translateX(2000px);
        -ms-transform: translateX(2000px);
        transform: translateX(2000px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes iosSlideInRight {
    0% {
        opacity: 0.7;
        -webkit-transform: translateX(2000px);
        -ms-transform: translateX(2000px);
        transform: translateX(2000px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

.iosSlideInRight {
    -webkit-animation-name: iosSlideInRight;
    animation-name: iosSlideInRight;
    -webkit-animation-timing-function: cubic-bezier(.1, .7, .1, 1);
    animation-timing-function: cubic-bezier(.1, .7, .1, 1);
    -webkit-animation-duration: 400ms;
    animation-duration: 400ms;
}

@-webkit-keyframes slideOutRight {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateX(2000px);
        transform: translateX(2000px);
    }
}

@keyframes slideOutRight {
    0% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateX(2000px);
        -ms-transform: translateX(2000px);
        transform: translateX(2000px);
    }
}

.slideOutRight {
    -webkit-animation-name: slideOutRight;
    animation-name: slideOutRight;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}